In [1]:
import pandas as pd

df= pd.read_csv('/content/drive/MyDrive/간이프로젝트/산림청_도시숲가로수관리 가로수 현황_20221231.csv',encoding='cp949')

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 869037 entries, 0 to 869036
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   시군구명    869037 non-null  object
 1   수종명     869037 non-null  object
dtypes: object(2)
memory usage: 13.3+ MB

In [3]:
df.head()

       시군구명   수종명
0  경상북도 안동시  은행나무
1  경상북도 안동시  은행나무
2  경상북도 안동시  은행나무
3  경상북도 안동시  은행나무
4  경상북도 안동시  은행나무

In [4]:
df['수종명'].nunique()

98

In [6]:
df['수종명'].value_counts()

은행나무     202698
벚나무      131142
느티나무      83065
이팝나무      71985
기타활엽수     66500
          ...
무화과           3
구실밤나무         2
산사나무          1
헛개나무          1
쉬나무           1
Name: 수종명, Length: 98, dtype: int64

In [7]:
df['시군구명'].unique()

array(['경상북도 안동시', '충청북도 청주시 청원구', '경상남도 창원시 진해구', '강원특별자치도 춘천시',
       '강원특별자치도 태백시', '충청북도 흥덕구', '충청북도 청주시 상당구', '충청북도 청주시 서원구',
       '전라남도 나주시', '강원특별자치도 속초시', '경상남도 창원시 의창구', '경기도 수원시 장안구',
       '경기도 수원시 권선구', '경기도 수원시 팔달구', '경기도 수원시 영통구', '경기도 안양시만안구',
       '경기도 부천시', '경기도 평택시', '대구광역시 동구', '대구광역시 남구', '대구광역시 수성구',
       '대구광역시 달성군', '대전광역시 동구', '대전광역시 중구', '대전광역시 서구', '대전광역시 유성구',
       '대전광역시 대덕구', '전라북도 전주시완산구', '전라북도 전주시덕진구', '전라북도 군산시', '서울특별시 구로구',
       '인천광역시 부평구', '경기도 성남시 수정구', '경기도 성남시 분당구', '경기도 성남시 중원구',
       '경기도 광명시', '경기도 의정부시', '경기도 고양시덕양구', '경기도 고양시일산동구', '경기도 남양주시',
       '경기도 구리시', '경기도 고양시일산서구', '경기도 하남시', '경기도 의왕시', '경기도 파주시',
       '경기도 이천시', '경기도 화성시', '전라남도 무안군', '강원특별자치도 원주시', '강원특별자치도 강릉시',
       '강원특별자치도 삼척시', '충청북도 충주시', '전라북도 남원시', '전라남도 목포시', '전라남도 여수시',
       '전라남도 순천시', '전라남도 광양시', '경상북도 포항시 남구', '경상북도 포항시 북구', '경상북도 김천시',
       '경상북도 구미시', '경상북도 상주시', '경상북도 문경시', '경상북도 경산시', '경상남도 진주시',
       '경상남도 사천시', '경상남도 김해시', '경상남도 밀양시', '경상남도 거제시', '경상남도 양산시',
       '세종특별자치시 세종특별자치시', '제주특별자치도 제주시', '충청남도 계룡시', '광주광역시 남구',
       '광주광역시 동구', '광주광역시 북구', '광주광역시 서구', '광주광역시 광산구', '충청남도 보령시',
       '충청남도 공주시', '충청남도 아산시', '충청남도 천안시동남구', '충청남도 천안시서북구', '전라북도 부안군',
       '경상북도 의성군', '대구광역시 서구', '울산광역시 울주군', '경기도 가평군', '강원특별자치도 양구군',
       '강원특별자치도 평창군', '경기도 김포시'], dtype=object)

In [ ]:
import pandas as pd

df1 = pd.read_csv('/content/drive/MyDrive/간이프로젝트/ECO100201_산림_가로수_온실가스흡수량_전국.csv', encoding="utf-8")

In [ ]:
df1

,CTPRV_NM,SGNG_NM,SGNG_CD,STNDD_YR,NTW_CHRR_QNTT,NTW_GKGO_QNTT,NTW_ZKVA_QNTT,NTW_AMSC_QNTT,NTW_MAPLF_TRE_QNTT,NTW_MTSQ_QNTT,...,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59
0,강원도,춘천시,42110,2015,"5,130","9,325","2,515",850,416,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,강원도,원주시,42130,2015,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,강원도,강릉시,42150,2015,"5,515","4,410","1,158",472,810,490,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,강원도,동해시,42170,2015,"4,113","3,749",207,"1,439",47,"1,388",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,강원도,태백시,42190,2015,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1827,경상남도,함양군,48870,2022,"11,179","1,617",47,500,"1,389",588,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1828,경상남도,거창군,48880,2022,"15,711","6,204",773,500,"6,309",401,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1829,경상남도,합천군,48890,2022,"14,962","5,733",225,500,"1,978",893,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1830,제주특별자치도,제주시,50110,2022,"11,003",119,"1,916",10,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1831,제주특별자치도,서귀포시,50130,2022,"6,225",785,"1,240",0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1832 entries, 0 to 1831
Data columns (total 60 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   CTPRV_NM                        1832 non-null   object
 1   SGNG_NM                         1832 non-null   object
 2   SGNG_CD                         1832 non-null   int64
 3   STNDD_YR                        1832 non-null   int64
 4    NTW_CHRR_QNTT                  1832 non-null   object
 5    NTW_GKGO_QNTT                  1832 non-null   object
 6    NTW_ZKVA_QNTT                  1832 non-null   object
 7    NTW_AMSC_QNTT                  1832 non-null   object
 8    NTW_MAPLF_TRE_QNTT             1832 non-null   object
 9    NTW_MTSQ_QNTT                  1832 non-null   object
 10   NTW_STJP_QNTT                  1832 non-null   object
 11   NTW_TLTR_QNTT                  1832 non-null   object
 12   NTW_PINE_QNTT                  1832 non-null   object
 13   NTW_KRPN_QNTT                  1832 non-null   object
 14   NTW_CONIFER_QNTT               1832 non-null   object
 15   NTW_HNKCP_TRE_QNTT             1832 non-null   object
 16   NTW_ACTSM_QNTT                 1832 non-null   int64
 17   NTW_MGLOK_QNTT                 1832 non-null   object
 18   NTW_OAK_QNTT                   1832 non-null   object
 19   NTW_ETC_QNTT                   1832 non-null   object
 20   NTW_CHRR_GRGS_ABQNT            1832 non-null   object
 21   NTW_GKGO_GRNHS_GHG_ABQNT       1832 non-null   object
 22   NTW_ZKVA_GRNHS_GHG_ABQNT       1832 non-null   int64
 23   NTW_AMSC_GRNHS_GHG_ABQNT       1832 non-null   int64
 24   NTW_MAPLF_TRE_GRGS_ABQNT       1832 non-null   object
 25   NTW_MTSQ_GRGS_ABQNT            1832 non-null   int64
 26   NTW_STJP_GRGS_ABQNT            1832 non-null   int64
 27   NTW_TLTR_GRNHS_GHG_ABQNT       1832 non-null   int64
 28   NTW_PINE_GRNHS_GHG_ABQNT       1832 non-null   int64
 29   NTW_KRPN_GRNHS_GHG_ABQNT       1832 non-null   int64
 30   NTW_CONIFER_GRNHS_GHG_ABQNT    1832 non-null   int64
 31   NTW_HNKCP_TRE_GRGS_ABQNT       1832 non-null   int64
 32   NTW_ACTSM_GRNHS_GHG_ABQNT      1832 non-null   int64
 33   NTW_MGLOK_GRNHS_GHG_ABQNT      1832 non-null   int64
 34   NTW_OAK_GRNHS_GHG_ABQNT        1832 non-null   int64
 35   NTW_ETC_GRNHS_GHG_ABQNT        1832 non-null   object
 36   NTW_TREE_SUM_GRNHS_GHG_ABQNT   1832 non-null   object
 37  Unnamed: 37                     0 non-null      float64
 38  Unnamed: 38                     0 non-null      float64
 39  Unnamed: 39                     0 non-null      float64
 40  Unnamed: 40                     0 non-null      float64
 41  Unnamed: 41                     0 non-null      float64
 42  Unnamed: 42                     0 non-null      float64
 43  Unnamed: 43                     0 non-null      float64
 44  Unnamed: 44                     0 non-null      float64
 45  Unnamed: 45                     0 non-null      float64
 46  Unnamed: 46                     0 non-null      float64
 47  Unnamed: 47                     0 non-null      float64
 48  Unnamed: 48                     0 non-null      float64
 49  Unnamed: 49                     0 non-null      float64
 50  Unnamed: 50                     1 non-null      float64
 51  Unnamed: 51                     0 non-null      float64
 52  Unnamed: 52                     0 non-null      float64
 53  Unnamed: 53                     0 non-null      float64
 54  Unnamed: 54                     0 non-null      float64
 55  Unnamed: 55                     0 non-null      float64
 56  Unnamed: 56                     0 non-null      float64
 57  Unnamed: 57                     0 non-null      float64
 58  Unnamed: 58                     0 non-null      float64
 59  Unnamed: 59                     1 non-null      float64
dtypes: float64(23), int64(15), object(22)
memory usage: 858.9+ KB

In [ ]:
import numpy as np
import pandas as pd

df2 = df1.iloc[:,4:20]

In [ ]:
df2

,NTW_CHRR_QNTT,NTW_GKGO_QNTT,NTW_ZKVA_QNTT,NTW_AMSC_QNTT,NTW_MAPLF_TRE_QNTT,NTW_MTSQ_QNTT,NTW_STJP_QNTT,NTW_TLTR_QNTT,NTW_PINE_QNTT,NTW_KRPN_QNTT,NTW_CONIFER_QNTT,NTW_HNKCP_TRE_QNTT,NTW_ACTSM_QNTT,NTW_MGLOK_QNTT,NTW_OAK_QNTT,NTW_ETC_QNTT
0,"5,130","9,325","2,515",850,416,0,277,0,63,138,122,0,0,"3,210",0,404
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,"5,515","4,410","1,158",472,810,490,0,438,0,0,0,0,0,"3,075",0,"6,466"
3,"4,113","3,749",207,"1,439",47,"1,388",0,0,0,0,0,0,0,283,0,"3,222"
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1827,"11,179","1,617",47,500,"1,389",588,0,0,0,0,0,0,0,"2,388",0,"19,512"
1828,"15,711","6,204",773,500,"6,309",401,0,0,0,0,0,0,0,732,0,"50,111"
1829,"14,962","5,733",225,500,"1,978",893,0,0,0,0,0,0,0,"3,173",0,"18,065"
1830,"11,003",119,"1,916",10,0,0,0,0,0,0,0,0,0,741,0,"18,007"
1831,"6,225",785,"1,240",0,0,0,0,0,0,0,0,0,0,0,0,"25,509"

In [ ]:
df2.columns = ["체리나무", "은행나무 ", "자쿠라나무 ", "단풍나무 "," 메이플 나무", "메타세콰이 나무", "작은 소나무","탈로우나무",
                                             "소나무", "한국소나무","침엽수", "헤녹카이프러스 나무", "아카시아나무",
                                             "매그놀리아나무", "참나무","기타"]

In [ ]:
df2 #  tCO2eq

,체리나무,은행나무,자쿠라나무,단풍나무,메이플 나무,메타세콰이 나무,작은 소나무,탈로우나무,소나무,한국소나무,침엽수,헤녹카이프러스 나무,아카시아나무,매그놀리아나무,참나무,기타
0,"5,130","9,325","2,515",850,416,0,277,0,63,138,122,0,0,"3,210",0,404
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,"5,515","4,410","1,158",472,810,490,0,438,0,0,0,0,0,"3,075",0,"6,466"
3,"4,113","3,749",207,"1,439",47,"1,388",0,0,0,0,0,0,0,283,0,"3,222"
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1827,"11,179","1,617",47,500,"1,389",588,0,0,0,0,0,0,0,"2,388",0,"19,512"
1828,"15,711","6,204",773,500,"6,309",401,0,0,0,0,0,0,0,732,0,"50,111"
1829,"14,962","5,733",225,500,"1,978",893,0,0,0,0,0,0,0,"3,173",0,"18,065"
1830,"11,003",119,"1,916",10,0,0,0,0,0,0,0,0,0,741,0,"18,007"
1831,"6,225",785,"1,240",0,0,0,0,0,0,0,0,0,0,0,0,"25,509"

In [ ]:
df3 = df2.T

In [ ]:
df3.isnull().sum()

0             0
1             0
2             0
3             0
4             0
             ..
1829          0
1830          0
1831          0
Total_Sum    16
Average      16
Length: 1834, dtype: int64

In [ ]:
df3

In [ ]:
for col in df3.columns:
    # 비숫자 문자 제거 (예: 쉼표)
    df3[col] = df3[col].replace(',', '', regex=True)

    # 열을 숫자로 변환
    df3[col] = pd.to_numeric(df3[col], errors='coerce')

# 결과 확인
print(df3.info())

<class 'pandas.core.frame.DataFrame'>
Index: 16 entries, 체리나무 to 기타
Columns: 1833 entries, 0 to Total_Sum
dtypes: float64(1), int64(1832)
memory usage: 229.8+ KB
None

In [ ]:
# 열별 합계 계산
df3['Total_Sum'] = df3.sum(axis=1)
# 결과 확인
print(df3)

               0  1     2     3  4     5     6  7    8  9  ...   1823   1824  \
체리나무        5130  0  5515  4113  0  4328  4328  0  159  0  ...   6104   5849
은행나무        9325  0  4410  3749  0  2282  2282  0    0  0  ...   1473   1023
자쿠라나무       2515  0  1158   207  0   277   277  0    0  0  ...      0    218
단풍나무         850  0   472  1439  0     0     0  0    0  0  ...    500    500
 메이플 나무      416  0   810    47  0   523   523  0   27  0  ...      2    517
메타세콰이 나무       0  0   490  1388  0   260   260  0    0  0  ...   2853      0
작은 소나무       277  0     0     0  0     0     0  0    0  0  ...      0      0
탈로우나무          0  0   438     0  0     0     0  0    0  0  ...      0      0
소나무           63  0     0     0  0   517   517  0    0  0  ...      0      0
한국소나무        138  0     0     0  0     0     0  0    0  0  ...      0      0
침엽수          122  0     0     0  0     0     0  0    0  0  ...      0      0
헤녹카이프러스 나무     0  0     0     0  0     0     0  0    0  0  ...      0      0
아카시아나무         0  0     0     0  0     0     0  0    0  0  ...      0      0
매그놀리아나무     3210  0  3075   283  0  1699  1699  0    0  0  ...    801    671
참나무            0  0     0     0  0     0     0  0    0  0  ...      0      0
기타           404  0  6466  3222  0  3372  3372  0   92  0  ...  58668  31412

             1825   1826   1827   1828   1829   1830   1831   Total_Sum
체리나무        19370   8356  11179  15711  14962  11003   6225  11580745.0
은행나무         3087    791   1617   6204   5733    119    785   8911014.0
자쿠라나무         125    823     47    773    225   1916   1240   3970748.0
단풍나무          500    500    500    500    500     10      0   1636944.0
 메이플 나무      2383   2752   1389   6309   1978      0      0   2164143.0
메타세콰이 나무      838    200    588    401    893      0      0   1120643.0
작은 소나무          0      0      0      0      0      0      0    428690.0
탈로우나무           0      0      0      0      0      0      0    150153.0
소나무             0      0      0      0      0      0      0    388278.0
한국소나무           0      0      0      0      0      0      0     84211.0
침엽수             0      0      0      0      0      0      0    189355.0
헤녹카이프러스 나무      0      0      0      0      0      0      0     41054.0
아카시아나무          0      0      0      0      0      0      0     19672.0
매그놀리아나무      2124   1159   2388    732   3173    741      0   4527676.0
참나무             0      0      0      0      0      0      0    237864.0
기타          41983  50619  19512  50111  18065  18007  25509  14616690.0

[16 rows x 1833 columns]

In [ ]:
df3

,0,1,2,3,4,5,6,7,8,9,...,1823,1824,1825,1826,1827,1828,1829,1830,1831,Total_Sum
체리나무,5130,0,5515,4113,0,4328,4328,0,159,0,...,6104,5849,19370,8356,11179,15711,14962,11003,6225,11580745.0
은행나무,9325,0,4410,3749,0,2282,2282,0,0,0,...,1473,1023,3087,791,1617,6204,5733,119,785,8911014.0
자쿠라나무,2515,0,1158,207,0,277,277,0,0,0,...,0,218,125,823,47,773,225,1916,1240,3970748.0
단풍나무,850,0,472,1439,0,0,0,0,0,0,...,500,500,500,500,500,500,500,10,0,1636944.0
메이플 나무,416,0,810,47,0,523,523,0,27,0,...,2,517,2383,2752,1389,6309,1978,0,0,2164143.0
메타세콰이 나무,0,0,490,1388,0,260,260,0,0,0,...,2853,0,838,200,588,401,893,0,0,1120643.0
작은 소나무,277,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,428690.0
탈로우나무,0,0,438,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,150153.0
소나무,63,0,0,0,0,517,517,0,0,0,...,0,0,0,0,0,0,0,0,0,388278.0
한국소나무,138,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,84211.0
침엽수,122,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,189355.0
헤녹카이프러스 나무,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,41054.0
아카시아나무,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,19672.0
매그놀리아나무,3210,0,3075,283,0,1699,1699,0,0,0,...,801,671,2124,1159,2388,732,3173,741,0,4527676.0
참나무,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,237864.0
기타,404,0,6466,3222,0,3372,3372,0,92,0,...,58668,31412,41983,50619,19512,50111,18065,18007,25509,14616690.0

In [ ]:
# 열별 평균 추가
df3['Average'] = df3.mean(axis=1)

# 결과 확인
print(df3)

               0  1     2     3  4     5     6  7    8  9  ...   1824   1825  \
체리나무        5130  0  5515  4113  0  4328  4328  0  159  0  ...   5849  19370
은행나무        9325  0  4410  3749  0  2282  2282  0    0  0  ...   1023   3087
자쿠라나무       2515  0  1158   207  0   277   277  0    0  0  ...    218    125
단풍나무         850  0   472  1439  0     0     0  0    0  0  ...    500    500
 메이플 나무      416  0   810    47  0   523   523  0   27  0  ...    517   2383
메타세콰이 나무       0  0   490  1388  0   260   260  0    0  0  ...      0    838
작은 소나무       277  0     0     0  0     0     0  0    0  0  ...      0      0
탈로우나무          0  0   438     0  0     0     0  0    0  0  ...      0      0
소나무           63  0     0     0  0   517   517  0    0  0  ...      0      0
한국소나무        138  0     0     0  0     0     0  0    0  0  ...      0      0
침엽수          122  0     0     0  0     0     0  0    0  0  ...      0      0
헤녹카이프러스 나무     0  0     0     0  0     0     0  0    0  0  ...      0      0
아카시아나무         0  0     0     0  0     0     0  0    0  0  ...      0      0
매그놀리아나무     3210  0  3075   283  0  1699  1699  0    0  0  ...    671   2124
참나무            0  0     0     0  0     0     0  0    0  0  ...      0      0
기타           404  0  6466  3222  0  3372  3372  0   92  0  ...  31412  41983

             1826   1827   1828   1829   1830   1831   Total_Sum       Average
체리나무         8356  11179  15711  14962  11003   6225  11580745.0  12635.837425
은행나무          791   1617   6204   5733    119    785   8911014.0   9722.873977
자쿠라나무         823     47    773    225   1916   1240   3970748.0   4332.512821
단풍나무          500    500    500    500     10      0   1636944.0   1786.081833
 메이플 나무      2752   1389   6309   1978      0      0   2164143.0   2361.312602
메타세콰이 나무      200    588    401    893      0      0   1120643.0   1222.741953
작은 소나무          0      0      0      0      0      0    428690.0    467.746863
탈로우나무           0      0      0      0      0      0    150153.0    163.833061
소나무             0      0      0      0      0      0    388278.0    423.653028
한국소나무           0      0      0      0      0      0     84211.0     91.883252
침엽수             0      0      0      0      0      0    189355.0    206.606656
헤녹카이프러스 나무      0      0      0      0      0      0     41054.0     44.794326
아카시아나무          0      0      0      0      0      0     19672.0     16.098200
매그놀리아나무      1159   2388    732   3173    741      0   4527676.0   4940.181124
참나무             0      0      0      0      0      0    237864.0    259.535188
기타          50619  19512  50111  18065  18007  25509  14616690.0  15948.379705

[16 rows x 1834 columns]

In [ ]:
last_two_columns = df3.iloc[:, -2:]

# 선택된 열 출력
print(last_two_columns)

             Total_Sum       Average
체리나무        11580745.0  12635.837425
은행나무         8911014.0   9722.873977
자쿠라나무        3970748.0   4332.512821
단풍나무         1636944.0   1786.081833
 메이플 나무      2164143.0   2361.312602
메타세콰이 나무     1120643.0   1222.741953
작은 소나무        428690.0    467.746863
탈로우나무         150153.0    163.833061
소나무           388278.0    423.653028
한국소나무          84211.0     91.883252
침엽수           189355.0    206.606656
헤녹카이프러스 나무     41054.0     44.794326
아카시아나무         19672.0     16.098200
매그놀리아나무      4527676.0   4940.181124
참나무           237864.0    259.535188
기타          14616690.0  15948.379705